<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<%= link_to "New blog", new_blog_path %>
<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <%= link_to blog.status, toggle_status_blog_path(blog) %>
    
    <p>
      <%= link_to "Show this blog", blog %>
      <%= link_to "Edit", edit_blog_path(blog) %>
    </p>
    <hr>
  <% end %>
  
</div>


